// nprogress插件进度条颜色
#nprogress .bar {
	background: $primaryColor !important;
}
#nprogress .spinner-icon {
	border-top-color: $primaryColor !important;
	border-left-color: $primaryColor !important;
}
#nprogress .peg {
	box-shadow: 0 0 10px $primaryColor, 0 0 5px $primaryColor !important;
}
